body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("photos/rome.jpg");
   background-repeat: no-repeat;
    background-size:cover;
  
  }
  .box {
    text-align: center;
    display: block;
    margin: 150px auto 0 auto;
    padding-top: 10px;
    border-color: rgb(0, 111, 255);
    border-style: solid 80%;
    border-width: 4px;
    border-radius: 5px;
    width: 700px;
    height: 480px;
    background: white;
  }
  h1 {
    color: rgb(90, 98, 117);
    margin: 25px 0 20px 75px;
    text-align: left;
    font-size: 40px;
  }
 
  
  .details {
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
  }
  .searchers {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
  }
  .description{
    text-align: left;
  margin-left: 75px;
    color:rgb(0, 111, 255);
    line-height: 1.5;
    opacity: 80%;
    font-size: 18px; 
    font-weight: bold;
  }
  .icon 
  {
    margin-left: 10px;
    margin-top: -5px;
  
    }

   .date{
    font-size: 20px;
    color:rgb(90, 98, 117);
    font-weight: bold;
  
   
  }
  .temperatura {
    font-size: 80px;
    color: rgb(90, 98, 117);
    margin-top: -5px;
    margin-left: 20px;
  }
  
  #numbers{
    text-align: left;
   
  }
  .units{
    vertical-align:super;
    font-size: 40px;
    text-align: left;
  }
 
  .descrp2 {
   color: rgb(136, 134, 134);
    font-size: 14px;
  }
  
  .btnFind {
    background-color:rgb(0, 111, 255);
    border-color: rgb(0, 111, 255);
    color: white;
    border-width: 4px;
    font-weight: bolder;
    margin: 25px 20px 5px 10px;
    padding: 13px 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
    border-style: solid;
    transition: 200ms ease-in-out;
  }
  
  .btnFind:hover {
    color: rgb(0, 111, 255);
    background-color: white;
    cursor: pointer;
    font-size: 14px;

  }
  .weekDays {
    font-size: 12px;
    color: rgb(136, 134, 134);
    text-align: center;
  }
  .week {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  .clima {
    width: 50px;
  }
  
  .form-control {
    color: rgb(136, 134, 134);
    border-width: 4px;
    border-radius: 7px;
    border-color: rgb(0, 111, 255);
    text-align: left;
    margin: 25px 20px 5px 65px;
    padding: 10px 90px 10px 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 14px;
    border-style: solid;
  }
  input[type="search"]::placeholder {
    color: rgb(0, 111, 255);
    border-color: rgb(0, 111, 255);
    font-size: 14px;
  }
  input[type="search"]:focus {
    box-shadow: rgb(0, 111, 255);
    border-color: rgb(0, 111, 255);
    outline-color: rgb(0, 111, 255);
    font-size: 14px;
  }
  footer{
    text-align: center;
    font-size: 13px;
    color: rgb(136, 134, 134);
  }
  a {
   
    color:rgb(136, 134, 134);
    font-weight: bold;
  }